html {
  background-color: rgba(227,227,227,.80);
  font-family: 'Roboto Mono', monospace;
  line-height: 2em;
  height: 100%;
  width: 100%;
  margin: auto;

}

h1 {
  font-style: italic;
  font-size: 80%;
  margin-top: -1rem;

}

h2 {

  font-size: 100%;
  margin-top: 0rem;
}

h3 {
  font-size: 130%;

}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: blue;
  font-weight: bold;


}

.navbar {
  position: fixed;
}

#my_name {
  padding-left: 65rem;
  display: none;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: left;


}

li {
  margin: .5rem;

}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: auto;
  grid-auto-rows: 7%;



}

#big-about {
  text-align: center;
  font-size: 150%;
  text-decoration: none;
  letter-spacing: .2rem;

}


.about{
  /**border: 1px solid rgba(36,36,36,14);**/
    /** drop shadow styling instead**/
  grid-column: 2;
  grid-row: 1;
text-align: center;
margin: 2.5rem;
font-size: 120%;
}



body {

}

.work{
  grid-column: 2;
  grid-row: 2;
  padding: calc(8px + 1.5625vw);
  margin-top: 2rem;

/** create js slideshow of work**/


  /** css grid styling instead **/
/**  position:relative;
top: 45px;
right: 10px;
width: 40%;
float: right;
padding: 15px;
border: 1px solid rgba(36,36,36,14);
drop shadow styling instead
border-radius: 25px;**/



}


.work-one, .work-two, .work-three, .work-four, .work-five{
    padding: calc(8px + 1.5625vw);
}


/** hide works until uploaded/ js slideshow? **/
.work-three, .work-four, .work-five {
  display: block;
}


img {
  height: 30rem;
  width: 50rem;
}

img:hover{
  border: 1% solid #555;


}
**/

@media only screen and (max-width: 990px) {
  .body {


  }
}

@media only screen and (max-width: 990px) {
  .navbar {
    position: relative;


  }
}


@media only screen and (max-width: 990px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: auto;
    grid-auto-rows: 7%;

  }
}



@media only screen and (max-width: 990px) {
  .about  {

    grid-column: 2;
    grid-row: 2;
  position: sticky;
  margin: none;


  }
}



@media only screen and (max-width: 990px) {
    .work {
      margin-top: 20rem;
      grid-column: 2;
      grid-row: 3;
  }
}





@media only screen and (max-width: 990px) {
  img {
    height: 30vh;
    width: 35vh;
  }
}
